*

!.gitignore
!LICENSE
!README.md

!flake.nix
!flake.lock

!CMakeLists.txt

!renders/*.png
!renders/*.mp4
!renders/

!src/
!src/**/
!src/**/*.cpp
!src/**/*.cu

!include/
!include/**/
!include/**/*.hpp

!external/
!external/imgui/
